<p appFontSize [size]="16" *appRepeat="5">
    Hola Mundo!
</p>

<form [formGroup]="formRegister">


    <div class="flex flex-column w-2">
        <ng-container>
            <mat-form-field appearance="fill">

                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" [formControl]="nameControl">
                <mat-icon matPrefix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Ingrese los nombres</mat-hint>
                <mat-error *ngFor="let error of nameControl.errors | keyvalue">
                    {{ error | controlErrorMessage }}
                </mat-error>

            </mat-form-field>
        </ng-container>

        <ng-container>
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input 
                    matInput 
                    [type]="hide ? 'password' : 'text'"
                    [formControl]="passwordControl"
                >
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngFor="let error of passwordControl.errors | keyvalue">
                    {{ error | controlErrorMessage }}
                </mat-error>
            </mat-form-field>
        </ng-container>
    </div>


    <p>
        <mat-form-field appearance="outline">

            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>

        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Seleccione su comida</mat-label>
            <mat-select>
                <mat-option>Pizza</mat-option>
                <mat-option>Lomito</mat-option>
                <mat-option>Empanada</mat-option>
                <mat-option>Hamburguesa</mat-option>
                <mat-option>Milanesa</mat-option>
            </mat-select>
        </mat-form-field>
    </p>



</form>

<pre>
    {{ nameControl.errors | keyvalue | json }}
</pre>
<pre>
    {{ passwordControl.errors | keyvalue | json }}
</pre>