<div class="grid">
    
    <div class="col-4">
        <mat-card>
        
            <mat-card-header>
        
                <mat-card-title>
                    <p>Titulo</p>
                </mat-card-title>
        
            </mat-card-header>
            
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            
            <mat-card-content class="p-4">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem alias expedita, officiis in repudiandae modi assumenda excepturi soluta eveniet illo earum molestiae totam, sapiente cum dicta fuga consequatur, corrupti inventore.
            </mat-card-content>
        
            <mat-card-actions>
                <button>Confirmar</button>
                <button>Cancelar</button>
            </mat-card-actions>
        
        </mat-card>
    </div>

    <div class="col-4">
        <mat-card>
        
            <mat-card-header>
        
                <mat-card-title>
                    <p>Titulo</p>
                </mat-card-title>
        
            </mat-card-header>
            
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            
            <mat-card-content class="p-4">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem alias expedita, officiis in repudiandae modi assumenda excepturi soluta eveniet illo earum molestiae totam, sapiente cum dicta fuga consequatur, corrupti inventore.
            </mat-card-content>
        
            <mat-card-actions>
                <button>Confirmar</button>
                <button>Cancelar</button>
            </mat-card-actions>
        
        </mat-card>
    </div>
</div>

